{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
{% endblock %}
{% block content %}
<div class="container-info py-5">
    <h1>TheRogueNode Developers Project Info</h1>
    <p>Bienvenido TheRogueNode Developers. Aquí te explicamos en que consiste este proyecto, cual es el objetivo y como puedes colaborar.</p>
</div>

  <div class="row g-4 py-5  align-items-stretch">
    <div class="col-md-4">
      <div class="info-card h-100 border-0 shadow-sm">
        <div>
          <h2>Que es TheRogueNode</h2>
        </div>
        <div>
          <p>Porque, para que y como</p>
        </div>
        <div>
          <a href="{% url 'core:info_base' %}" class="btn">Leer mas</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="info-card h-100 border-0 shadow-sm">
        <div>
          <h2>Que es TheRogueNode Developers </h2>
        </div>
        <div>
          <p>Guías de uso, administración y manuales de las secciones ya desplegadas y en funcionamiento.</p>
        </div>
        <div>
          <a href="{% url 'core:info_base' %}" class="btn">Leer mas</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="info-card h-100 border-0 shadow-sm">
        <div>
            <h2>Información para futuros Colaboradores</h2>
        </div>
        <div>
          <p>Como puedes colaborar y como debes colaborar si decides hacerlo.</p>
        </div>
        <div>
          <a href="{% url 'core:info_base' %}" class="btn">Leer mas</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
