{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="container py-5">   
        <h1>Proyectos</h1>
        <p>Listado de proyectos en desarrollo de la plataforma TheRogueNode</p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Proyectos en Desarrollo</h4>
                    {% include 'projects/_project_stats.html' %}
                </div>
                {% include 'projects/_project_list.html' %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 position-fixed relative-top" style="margin-right: 5%;">
                <div class="card-header">
                        <strong>Detalles del Proyecto</strong>
                </div>
                {% if project %}
                <div class="card-body">
                    <h5 class="card-title">{{ project.name }}
                        <span class="badge bg-secondary rounded-pill" >{{ project.get_documentationSection_display }}</span>
                    </h5><br>
        
                    <p class="caard-text">{{ project.description }}</p><br>
                    <p>
                        
                    </p><br>
                    <a href="{{project.repository.url}}"
                       class="btn btn-primary w-100 mb-2">
                        <i class="bi bi-github"></i>  {{ project.repository }}
                    </a>
                </div>

                <div class="card-footer">
                    <small>Mantenedor:</small> {{ project.maintainer }}<br>
                    <small>Creado:</small> {{ project.created_at|date:"d M Y" }}<br>
                    <small>Actualizado:</small> {{ project.updated_at|date:"d M Y" }}<br>
                </div>
                    <!-- Agrega más atributos según tu modelo -->

                {% else %}
                    <em>Selecciona un proyecto para ver los detalles.</em>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}